Source: ros-hydro-strands-engagement-checker
Section: misc
Priority: extra
Maintainer: Mohannad Al Omari <omari.1988@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-bayes-people-tracker, ros-hydro-catkin, ros-hydro-rospy, ros-hydro-std-msgs
Homepage: https://github.com/strands-project/activity_analysis
Standards-Version: 3.9.2

Package: ros-hydro-strands-engagement-checker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-bayes-people-tracker, ros-hydro-rospy, ros-hydro-std-msgs
Description: The engagement_checker package
